@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ProximaNova-Black.woff2') format('woff2'),
  url('../fonts/ProximaNova-Black.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  padding: 30px 0;
  background-color: #222;
  color: #fff;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 139px;
  height: 37px;
}

.scedule {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.scedule p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.scedule p:nth-child(2) {
  font-weight: 300;
}

.nav-contacts {
  display: flex;
  align-items: center;
}

.numbers {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.nav-contacts a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.numbers a:nth-child(2) {
  margin-top: 10px;
}

/* MAIN */
.hero {
  background-image: url("../img/track.png");
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.hero-content {
  width: 460px;
  padding: 60px;
  background-color: #f7b516;
}

.hero-heading {
  padding-right: 80px;
}

.hero-content h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero-heading p {
  font-size: 20px;
  font-weight: 600;
  padding-right: 20px;
  margin: 30px 0;
}

.feautures-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.feautures-list li {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 30px;
}

.feautures-list li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-right: 20px;
  background-repeat: no-repeat;
}

.feautures-list li:nth-child(1)::before {
  background-image: url("../img/piggy-bank.png");
  width: 35px;
  height: 30px;
}

.feautures-list li:nth-child(2)::before {
  background-image: url("../img/delivery-truck-silhouette.png");
}

.feautures-list li:nth-child(3)::before {
  background-image: url("../img/election-event-on-a-calendar-with-star-symbol.png");
}

.feautures-list li:nth-child(4)::before {
  background-image: url("../img/medal.png");
}

.feautures-list p {
  margin: 0;
  display: flex;
}


.btn {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding: 15px 25px;
  background-color: #1669b3;
  text-transform: uppercase;
  border: none;
  color: #fff;
}

.mail {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: url("../img/big-track.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mail-wrapper {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.mail-wrapper-inner h2 {
  margin: 0;
  width: 550px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.mail-form {
  display: flex;
  justify-content: space-between;
}

.mail-form input {
  padding: 20px;
  width: 100%;
  border: none;
  background-color: #f2f2f2;
}

.mail-form input:nth-child(1) {
  margin-right: 30px;
  background-image: url("../img/mail.png");
  background-repeat: no-repeat;
  background-position: right 30px top 50%;

}

.mail-form input:nth-child(2) {
  background-image: url("../img/call-answer.png");
  background-repeat: no-repeat;
  background-position:  right 30px top 50%;
}

.mail-form input::placeholder {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.mail-action {
  display: flex;
  margin-top: 30px;
}

.mail-action p {
  display: flex;
  margin: 0;
  font-size: 15px;
  padding: 5px 0;
}

.paragraph-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.paragraph-wrapper::after {
  content: "";
  display: inline-block;
  width: 57px;
  height: 35px;
  background-image: url("../img/clock.png");
  background-size: cover;
  background-position: -0.5px 0;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.mail-btn {
  width: 93%;
  margin-left: 9%;
}

/* STEPS */
.steps {
  background-color: #08243e;
  color: #fff;
  padding: 50px 0;
}

.steps-heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.steps-heading h3 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.steps-heading p {
  font-size: 18px;
  font-weight: 400;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.steps-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.steps-list li {
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.steps-list p {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-list p::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

.steps-list li:nth-child(1) p::before {
  background-image: url("../img/engine.png");
}

.steps-list li:nth-child(2) p::before {
  background-image: url("../img/dump-truck.png");
}

.steps-list li:nth-child(3) p::before {
  background-image: url("../img/calendar\ \(5\).png");
}

.steps-list li:nth-child(4) p::before {
  background-image: url("../img/dump-truck.png");
}



.numbers + a {
  font-size: 12px;
  padding: 20px 20px;
}




